
ckpt_tf/2019_08_11_20_06
ckpt_tf/2019_08_11_20_19
ckpt_tf/2019_08_11_21_52
ckpt_tf/2019_08_11_21_53
ckpt_tf/2019_08_11_23_01
ckpt_tf/checkpoint
ckpt_tf/model.ckpt-1000.data-00000-of-00001
ckpt_tf/model.ckpt-1000.index
ckpt_tf/model.ckpt-1000.meta
ckpt_tf/model.ckpt-10000.data-00000-of-00001
ckpt_tf/model.ckpt-10000.index
ckpt_tf/model.ckpt-10000.meta
ckpt_tf/model.ckpt-10500.data-00000-of-00001
ckpt_tf/model.ckpt-10500.index
ckpt_tf/model.ckpt-10500.meta
ckpt_tf/model.ckpt-11000.data-00000-of-00001
ckpt_tf/model.ckpt-11000.index
ckpt_tf/model.ckpt-11000.meta
ckpt_tf/model.ckpt-11500.data-00000-of-00001
ckpt_tf/model.ckpt-11500.index
ckpt_tf/model.ckpt-11500.meta
ckpt_tf/model.ckpt-12000.data-00000-of-00001
ckpt_tf/model.ckpt-12000.index
ckpt_tf/model.ckpt-12000.meta
ckpt_tf/model.ckpt-12500.data-00000-of-00001
ckpt_tf/model.ckpt-12500.index
ckpt_tf/model.ckpt-12500.meta
ckpt_tf/model.ckpt-13000.data-00000-of-00001
ckpt_tf/model.ckpt-13000.index
ckpt_tf/model.ckpt-13000.meta
ckpt_tf/model.ckpt-13500.data-00000-of-00001
ckpt_tf/model.ckpt-13500.index
ckpt_tf/model.ckpt-13500.meta
ckpt_tf/model.ckpt-14000.data-00000-of-00001
ckpt_tf/model.ckpt-14000.index
ckpt_tf/model.ckpt-14000.meta
ckpt_tf/model.ckpt-14500.data-00000-of-00001
ckpt_tf/model.ckpt-14500.index
ckpt_tf/model.ckpt-14500.meta
ckpt_tf/model.ckpt-1500.data-00000-of-00001
ckpt_tf/model.ckpt-1500.index
ckpt_tf/model.ckpt-1500.meta
ckpt_tf/model.ckpt-15000.data-00000-of-00001
ckpt_tf/model.ckpt-15000.index
ckpt_tf/model.ckpt-15000.meta
ckpt_tf/model.ckpt-15500.data-00000-of-00001
ckpt_tf/model.ckpt-15500.index
ckpt_tf/model.ckpt-15500.meta
ckpt_tf/model.ckpt-16000.data-00000-of-00001
ckpt_tf/model.ckpt-16000.index
ckpt_tf/model.ckpt-16000.meta
ckpt_tf/model.ckpt-16500.data-00000-of-00001
ckpt_tf/model.ckpt-16500.index
ckpt_tf/model.ckpt-16500.meta
ckpt_tf/model.ckpt-17000.data-00000-of-00001
ckpt_tf/model.ckpt-17000.index
ckpt_tf/model.ckpt-17000.meta
ckpt_tf/model.ckpt-17500.data-00000-of-00001
ckpt_tf/model.ckpt-17500.index
ckpt_tf/model.ckpt-17500.meta
ckpt_tf/model.ckpt-18000.data-00000-of-00001
ckpt_tf/model.ckpt-18000.index
ckpt_tf/model.ckpt-18000.meta
ckpt_tf/model.ckpt-18500.data-00000-of-00001
ckpt_tf/model.ckpt-18500.index
ckpt_tf/model.ckpt-18500.meta
ckpt_tf/model.ckpt-19000.data-00000-of-00001
ckpt_tf/model.ckpt-19000.index
ckpt_tf/model.ckpt-19000.meta
ckpt_tf/model.ckpt-19500.data-00000-of-00001
ckpt_tf/model.ckpt-19500.index
ckpt_tf/model.ckpt-19500.meta
ckpt_tf/model.ckpt-2000.data-00000-of-00001
ckpt_tf/model.ckpt-2000.index
ckpt_tf/model.ckpt-2000.meta
ckpt_tf/model.ckpt-20000.data-00000-of-00001
ckpt_tf/model.ckpt-20000.index
ckpt_tf/model.ckpt-20000.meta
ckpt_tf/model.ckpt-20500.data-00000-of-00001
ckpt_tf/model.ckpt-20500.index
ckpt_tf/model.ckpt-20500.meta
ckpt_tf/model.ckpt-21000.data-00000-of-00001
ckpt_tf/model.ckpt-21000.index
ckpt_tf/model.ckpt-21000.meta
ckpt_tf/model.ckpt-21500.data-00000-of-00001
ckpt_tf/model.ckpt-21500.index
ckpt_tf/model.ckpt-21500.meta
ckpt_tf/model.ckpt-22000.data-00000-of-00001
ckpt_tf/model.ckpt-22000.index
ckpt_tf/model.ckpt-22000.meta
ckpt_tf/model.ckpt-22500.data-00000-of-00001
ckpt_tf/model.ckpt-22500.index
ckpt_tf/model.ckpt-22500.meta
ckpt_tf/model.ckpt-23000.data-00000-of-00001
ckpt_tf/model.ckpt-23000.index
ckpt_tf/model.ckpt-23000.meta
ckpt_tf/model.ckpt-23500.data-00000-of-00001
ckpt_tf/model.ckpt-23500.index
ckpt_tf/model.ckpt-23500.meta
ckpt_tf/model.ckpt-24000.data-00000-of-00001
ckpt_tf/model.ckpt-24000.index
ckpt_tf/model.ckpt-24000.meta
ckpt_tf/model.ckpt-24500.data-00000-of-00001
ckpt_tf/model.ckpt-24500.index
ckpt_tf/model.ckpt-24500.meta
ckpt_tf/model.ckpt-2500.data-00000-of-00001
ckpt_tf/model.ckpt-2500.index
ckpt_tf/model.ckpt-2500.meta
ckpt_tf/model.ckpt-25000.data-00000-of-00001
ckpt_tf/model.ckpt-25000.index
ckpt_tf/model.ckpt-25000.meta
ckpt_tf/model.ckpt-25500.data-00000-of-00001
ckpt_tf/model.ckpt-25500.index
ckpt_tf/model.ckpt-25500.meta
ckpt_tf/model.ckpt-26000.data-00000-of-00001
ckpt_tf/model.ckpt-26000.index
ckpt_tf/model.ckpt-26000.meta
ckpt_tf/model.ckpt-26500.data-00000-of-00001
ckpt_tf/model.ckpt-26500.index
ckpt_tf/model.ckpt-26500.meta
ckpt_tf/model.ckpt-27000.data-00000-of-00001
ckpt_tf/model.ckpt-27000.index
ckpt_tf/model.ckpt-27000.meta
ckpt_tf/model.ckpt-27500.data-00000-of-00001
ckpt_tf/model.ckpt-27500.index
ckpt_tf/model.ckpt-27500.meta
ckpt_tf/model.ckpt-28000.data-00000-of-00001
ckpt_tf/model.ckpt-28000.index
ckpt_tf/model.ckpt-28000.meta
ckpt_tf/model.ckpt-28500.data-00000-of-00001
ckpt_tf/model.ckpt-28500.index
ckpt_tf/model.ckpt-28500.meta
ckpt_tf/model.ckpt-29000.data-00000-of-00001
ckpt_tf/model.ckpt-29000.index
ckpt_tf/model.ckpt-29000.meta
ckpt_tf/model.ckpt-29500.data-00000-of-00001
ckpt_tf/model.ckpt-29500.index
ckpt_tf/model.ckpt-29500.meta
ckpt_tf/model.ckpt-3000.data-00000-of-00001
ckpt_tf/model.ckpt-3000.index
ckpt_tf/model.ckpt-3000.meta
ckpt_tf/model.ckpt-30000.data-00000-of-00001
ckpt_tf/model.ckpt-30000.index
ckpt_tf/model.ckpt-30000.meta
ckpt_tf/model.ckpt-30500.data-00000-of-00001
ckpt_tf/model.ckpt-30500.index
ckpt_tf/model.ckpt-30500.meta
ckpt_tf/model.ckpt-31000.data-00000-of-00001
ckpt_tf/model.ckpt-31000.index
ckpt_tf/model.ckpt-31000.meta
ckpt_tf/model.ckpt-31500.data-00000-of-00001
ckpt_tf/model.ckpt-31500.index
ckpt_tf/model.ckpt-31500.meta
ckpt_tf/model.ckpt-32000.data-00000-of-00001
ckpt_tf/model.ckpt-32000.index
ckpt_tf/model.ckpt-32000.meta
ckpt_tf/model.ckpt-32500.data-00000-of-00001
ckpt_tf/model.ckpt-32500.index
ckpt_tf/model.ckpt-32500.meta
ckpt_tf/model.ckpt-33000.data-00000-of-00001
ckpt_tf/model.ckpt-33000.index
ckpt_tf/model.ckpt-33000.meta
ckpt_tf/model.ckpt-33500.data-00000-of-00001
ckpt_tf/model.ckpt-33500.index
ckpt_tf/model.ckpt-33500.meta
ckpt_tf/model.ckpt-34000.data-00000-of-00001
ckpt_tf/model.ckpt-34000.index
ckpt_tf/model.ckpt-34000.meta
ckpt_tf/model.ckpt-34500.data-00000-of-00001
ckpt_tf/model.ckpt-34500.index
ckpt_tf/model.ckpt-34500.meta
ckpt_tf/model.ckpt-3500.data-00000-of-00001
ckpt_tf/model.ckpt-3500.index
ckpt_tf/model.ckpt-3500.meta
ckpt_tf/model.ckpt-35000.data-00000-of-00001
ckpt_tf/model.ckpt-35000.index
ckpt_tf/model.ckpt-35000.meta
ckpt_tf/model.ckpt-35500.data-00000-of-00001
ckpt_tf/model.ckpt-35500.index
ckpt_tf/model.ckpt-35500.meta
ckpt_tf/model.ckpt-36000.data-00000-of-00001
ckpt_tf/model.ckpt-36000.index
ckpt_tf/model.ckpt-36000.meta
ckpt_tf/model.ckpt-36500.data-00000-of-00001
ckpt_tf/model.ckpt-36500.index
ckpt_tf/model.ckpt-36500.meta
ckpt_tf/model.ckpt-37000.data-00000-of-00001
ckpt_tf/model.ckpt-37000.index
ckpt_tf/model.ckpt-37000.meta
ckpt_tf/model.ckpt-37500.data-00000-of-00001
ckpt_tf/model.ckpt-37500.index
ckpt_tf/model.ckpt-37500.meta
ckpt_tf/model.ckpt-38000.data-00000-of-00001
ckpt_tf/model.ckpt-38000.index
ckpt_tf/model.ckpt-38000.meta
ckpt_tf/model.ckpt-38500.data-00000-of-00001
ckpt_tf/model.ckpt-38500.index
ckpt_tf/model.ckpt-38500.meta
ckpt_tf/model.ckpt-39000.data-00000-of-00001
ckpt_tf/model.ckpt-39000.index
ckpt_tf/model.ckpt-39000.meta
ckpt_tf/model.ckpt-39500.data-00000-of-00001
ckpt_tf/model.ckpt-39500.index
ckpt_tf/model.ckpt-39500.meta
ckpt_tf/model.ckpt-4000.data-00000-of-00001
ckpt_tf/model.ckpt-4000.index
ckpt_tf/model.ckpt-4000.meta
ckpt_tf/model.ckpt-40000.data-00000-of-00001
ckpt_tf/model.ckpt-40000.index
ckpt_tf/model.ckpt-40000.meta
ckpt_tf/model.ckpt-40500.data-00000-of-00001
ckpt_tf/model.ckpt-40500.index
ckpt_tf/model.ckpt-40500.meta
ckpt_tf/model.ckpt-41000.data-00000-of-00001
ckpt_tf/model.ckpt-41000.index
ckpt_tf/model.ckpt-41000.meta
ckpt_tf/model.ckpt-41500.data-00000-of-00001
ckpt_tf/model.ckpt-41500.index
ckpt_tf/model.ckpt-41500.meta
ckpt_tf/model.ckpt-42000.data-00000-of-00001
ckpt_tf/model.ckpt-42000.index
ckpt_tf/model.ckpt-42000.meta
ckpt_tf/model.ckpt-42500.data-00000-of-00001
ckpt_tf/model.ckpt-42500.index
ckpt_tf/model.ckpt-42500.meta
ckpt_tf/model.ckpt-43000.data-00000-of-00001
ckpt_tf/model.ckpt-43000.index
ckpt_tf/model.ckpt-43000.meta
ckpt_tf/model.ckpt-43500.data-00000-of-00001
ckpt_tf/model.ckpt-43500.index
ckpt_tf/model.ckpt-43500.meta
ckpt_tf/model.ckpt-44000.data-00000-of-00001
ckpt_tf/model.ckpt-44000.index
ckpt_tf/model.ckpt-44000.meta
ckpt_tf/model.ckpt-44500.data-00000-of-00001
ckpt_tf/model.ckpt-44500.index
ckpt_tf/model.ckpt-44500.meta
ckpt_tf/model.ckpt-4500.data-00000-of-00001
ckpt_tf/model.ckpt-4500.index
ckpt_tf/model.ckpt-4500.meta
ckpt_tf/model.ckpt-45000.data-00000-of-00001
ckpt_tf/model.ckpt-45000.index
ckpt_tf/model.ckpt-45000.meta
ckpt_tf/model.ckpt-45500.data-00000-of-00001
ckpt_tf/model.ckpt-45500.index
ckpt_tf/model.ckpt-45500.meta
ckpt_tf/model.ckpt-46000.data-00000-of-00001
ckpt_tf/model.ckpt-46000.index
ckpt_tf/model.ckpt-46000.meta
ckpt_tf/model.ckpt-46500.data-00000-of-00001
ckpt_tf/model.ckpt-46500.index
ckpt_tf/model.ckpt-46500.meta
ckpt_tf/model.ckpt-47000.data-00000-of-00001
ckpt_tf/model.ckpt-47000.index
ckpt_tf/model.ckpt-47000.meta
ckpt_tf/model.ckpt-47500.data-00000-of-00001
ckpt_tf/model.ckpt-47500.index
ckpt_tf/model.ckpt-47500.meta
ckpt_tf/model.ckpt-48000.data-00000-of-00001
ckpt_tf/model.ckpt-48000.index
ckpt_tf/model.ckpt-48000.meta
ckpt_tf/model.ckpt-48500.data-00000-of-00001
ckpt_tf/model.ckpt-48500.index
ckpt_tf/model.ckpt-48500.meta
ckpt_tf/model.ckpt-49000.data-00000-of-00001
ckpt_tf/model.ckpt-49000.index
ckpt_tf/model.ckpt-49000.meta
ckpt_tf/model.ckpt-49500.data-00000-of-00001
ckpt_tf/model.ckpt-49500.index
ckpt_tf/model.ckpt-49500.meta
ckpt_tf/model.ckpt-500.data-00000-of-00001
ckpt_tf/model.ckpt-500.index
ckpt_tf/model.ckpt-500.meta
ckpt_tf/model.ckpt-5000.data-00000-of-00001
ckpt_tf/model.ckpt-5000.index
ckpt_tf/model.ckpt-5000.meta
ckpt_tf/model.ckpt-50000.data-00000-of-00001
ckpt_tf/model.ckpt-50000.index
ckpt_tf/model.ckpt-50000.meta
ckpt_tf/model.ckpt-50001.data-00000-of-00001
ckpt_tf/model.ckpt-50001.index
ckpt_tf/model.ckpt-50001.meta
ckpt_tf/model.ckpt-5500.data-00000-of-00001
ckpt_tf/model.ckpt-5500.index
ckpt_tf/model.ckpt-5500.meta
ckpt_tf/model.ckpt-6000.data-00000-of-00001
ckpt_tf/model.ckpt-6000.index
ckpt_tf/model.ckpt-6000.meta
ckpt_tf/model.ckpt-6500.data-00000-of-00001
ckpt_tf/model.ckpt-6500.index
ckpt_tf/model.ckpt-6500.meta
ckpt_tf/model.ckpt-7000.data-00000-of-00001
ckpt_tf/model.ckpt-7000.index
ckpt_tf/model.ckpt-7000.meta
ckpt_tf/model.ckpt-7500.data-00000-of-00001
ckpt_tf/model.ckpt-7500.index
ckpt_tf/model.ckpt-7500.meta
ckpt_tf/model.ckpt-8000.data-00000-of-00001
ckpt_tf/model.ckpt-8000.index
ckpt_tf/model.ckpt-8000.meta
ckpt_tf/model.ckpt-8500.data-00000-of-00001
ckpt_tf/model.ckpt-8500.index
ckpt_tf/model.ckpt-8500.meta
ckpt_tf/model.ckpt-9000.data-00000-of-00001
ckpt_tf/model.ckpt-9000.index
ckpt_tf/model.ckpt-9000.meta
ckpt_tf/model.ckpt-9500.data-00000-of-00001
ckpt_tf/model.ckpt-9500.index
ckpt_tf/model.ckpt-9500.meta
ckpt_tf/step_1000.pb
ckpt_tf/step_10000.pb
ckpt_tf/step_10500.pb
ckpt_tf/step_11000.pb
ckpt_tf/step_11500.pb
ckpt_tf/step_12000.pb
ckpt_tf/step_12500.pb
ckpt_tf/step_13000.pb
ckpt_tf/step_13500.pb
ckpt_tf/step_14000.pb
ckpt_tf/step_14500.pb
ckpt_tf/step_1500.pb
ckpt_tf/step_15000.pb
ckpt_tf/step_15500.pb
ckpt_tf/step_16000.pb
ckpt_tf/step_16500.pb
ckpt_tf/step_17000.pb
ckpt_tf/step_17500.pb
ckpt_tf/step_18000.pb
ckpt_tf/step_18500.pb
ckpt_tf/step_19000.pb
ckpt_tf/step_19500.pb
ckpt_tf/step_2000.pb
ckpt_tf/step_20000.pb
ckpt_tf/step_20500.pb
ckpt_tf/step_21000.pb
ckpt_tf/step_21500.pb
ckpt_tf/step_22000.pb
ckpt_tf/step_22500.pb
ckpt_tf/step_23000.pb
ckpt_tf/step_23500.pb
ckpt_tf/step_24000.pb
ckpt_tf/step_24500.pb
ckpt_tf/step_2500.pb
ckpt_tf/step_25000.pb
ckpt_tf/step_25500.pb
ckpt_tf/step_26000.pb
ckpt_tf/step_26500.pb
ckpt_tf/step_27000.pb
ckpt_tf/step_27500.pb
ckpt_tf/step_28000.pb
ckpt_tf/step_28500.pb
ckpt_tf/step_29000.pb
ckpt_tf/step_29500.pb
ckpt_tf/step_3000.pb
ckpt_tf/step_30000.pb
ckpt_tf/step_30500.pb
ckpt_tf/step_31000.pb
ckpt_tf/step_31500.pb
ckpt_tf/step_32000.pb
ckpt_tf/step_32500.pb
ckpt_tf/step_33000.pb
ckpt_tf/step_33500.pb
ckpt_tf/step_34000.pb
ckpt_tf/step_34500.pb
ckpt_tf/step_3500.pb
ckpt_tf/step_35000.pb
ckpt_tf/step_35500.pb
ckpt_tf/step_36000.pb
ckpt_tf/step_36500.pb
ckpt_tf/step_37000.pb
ckpt_tf/step_37500.pb
ckpt_tf/step_38000.pb
ckpt_tf/step_38500.pb
ckpt_tf/step_39000.pb
ckpt_tf/step_39500.pb
ckpt_tf/step_4000.pb
ckpt_tf/step_40000.pb
ckpt_tf/step_40500.pb
ckpt_tf/step_41000.pb
ckpt_tf/step_41500.pb
ckpt_tf/step_42000.pb
ckpt_tf/step_42500.pb
ckpt_tf/step_43000.pb
ckpt_tf/step_43500.pb
ckpt_tf/step_44000.pb
ckpt_tf/step_44500.pb
ckpt_tf/step_4500.pb
ckpt_tf/step_45000.pb
ckpt_tf/step_45500.pb
ckpt_tf/step_46000.pb
ckpt_tf/step_46500.pb
ckpt_tf/step_47000.pb
ckpt_tf/step_47500.pb
ckpt_tf/step_48000.pb
ckpt_tf/step_48500.pb
ckpt_tf/step_49000.pb
ckpt_tf/step_49500.pb
ckpt_tf/step_500.pb
ckpt_tf/step_5000.pb
ckpt_tf/step_50000.pb
ckpt_tf/step_50001.pb
ckpt_tf/step_5500.pb
ckpt_tf/step_6000.pb
ckpt_tf/step_6500.pb
ckpt_tf/step_7000.pb
ckpt_tf/step_7500.pb
ckpt_tf/step_8000.pb
ckpt_tf/step_8500.pb
ckpt_tf/step_9000.pb
ckpt_tf/step_9500.pb
ckpt_tf2/2019_08_11_23_03
ckpt_tf2/2019_08_11_23_04
ckpt_tf2/2019_08_11_23_05
ckpt_tf2/2019_08_11_23_06
ckpt_tf2/2019_08_11_23_08
ckpt_tf2/2019_08_11_23_12
ckpt_tf2/2019_08_11_23_14
ckpt_tf2/2019_08_11_23_17
ckpt_tf2/2019_08_11_23_39
ckpt_tf2/2019_08_15_22_32
ckpt_tf2/2019_08_16_07_33
ckpt_tf2/checkpoint
ckpt_tf2/model.ckpt-1000.data-00000-of-00001
ckpt_tf2/model.ckpt-1000.index
ckpt_tf2/model.ckpt-1000.meta
ckpt_tf2/model.ckpt-10000.data-00000-of-00001
ckpt_tf2/model.ckpt-10000.index
ckpt_tf2/model.ckpt-10000.meta
ckpt_tf2/model.ckpt-10001.data-00000-of-00001
ckpt_tf2/model.ckpt-10001.index
ckpt_tf2/model.ckpt-10001.meta
ckpt_tf2/model.ckpt-1001.data-00000-of-00001
ckpt_tf2/model.ckpt-1001.index
ckpt_tf2/model.ckpt-1001.meta
ckpt_tf2/model.ckpt-10500.data-00000-of-00001
ckpt_tf2/model.ckpt-10500.index
ckpt_tf2/model.ckpt-10500.meta
ckpt_tf2/model.ckpt-11000.data-00000-of-00001
ckpt_tf2/model.ckpt-11000.index
ckpt_tf2/model.ckpt-11000.meta
ckpt_tf2/model.ckpt-11001.data-00000-of-00001
ckpt_tf2/model.ckpt-11001.index
ckpt_tf2/model.ckpt-11001.meta
ckpt_tf2/model.ckpt-1500.data-00000-of-00001
ckpt_tf2/model.ckpt-1500.index
ckpt_tf2/model.ckpt-1500.meta
ckpt_tf2/model.ckpt-2000.data-00000-of-00001
ckpt_tf2/model.ckpt-2000.index
ckpt_tf2/model.ckpt-2000.meta
ckpt_tf2/model.ckpt-2500.data-00000-of-00001
ckpt_tf2/model.ckpt-2500.index
ckpt_tf2/model.ckpt-2500.meta
ckpt_tf2/model.ckpt-3000.data-00000-of-00001
ckpt_tf2/model.ckpt-3000.index
ckpt_tf2/model.ckpt-3000.meta
ckpt_tf2/model.ckpt-3500.data-00000-of-00001
ckpt_tf2/model.ckpt-3500.index
ckpt_tf2/model.ckpt-3500.meta
ckpt_tf2/model.ckpt-4000.data-00000-of-00001
ckpt_tf2/model.ckpt-4000.index
ckpt_tf2/model.ckpt-4000.meta
ckpt_tf2/model.ckpt-4500.data-00000-of-00001
ckpt_tf2/model.ckpt-4500.index
ckpt_tf2/model.ckpt-4500.meta
ckpt_tf2/model.ckpt-500.data-00000-of-00001
ckpt_tf2/model.ckpt-500.index
ckpt_tf2/model.ckpt-500.meta
ckpt_tf2/model.ckpt-5000.data-00000-of-00001
ckpt_tf2/model.ckpt-5000.index
ckpt_tf2/model.ckpt-5000.meta
ckpt_tf2/model.ckpt-5500.data-00000-of-00001
ckpt_tf2/model.ckpt-5500.index
ckpt_tf2/model.ckpt-5500.meta
ckpt_tf2/model.ckpt-6000.data-00000-of-00001
ckpt_tf2/model.ckpt-6000.index
ckpt_tf2/model.ckpt-6000.meta
ckpt_tf2/model.ckpt-6500.data-00000-of-00001
ckpt_tf2/model.ckpt-6500.index
ckpt_tf2/model.ckpt-6500.meta
ckpt_tf2/model.ckpt-7000.data-00000-of-00001
ckpt_tf2/model.ckpt-7000.index
ckpt_tf2/model.ckpt-7000.meta
ckpt_tf2/model.ckpt-7500.data-00000-of-00001
ckpt_tf2/model.ckpt-7500.index
ckpt_tf2/model.ckpt-7500.meta
ckpt_tf2/model.ckpt-8000.data-00000-of-00001
ckpt_tf2/model.ckpt-8000.index
ckpt_tf2/model.ckpt-8000.meta
ckpt_tf2/model.ckpt-8500.data-00000-of-00001
ckpt_tf2/model.ckpt-8500.index
ckpt_tf2/model.ckpt-8500.meta
ckpt_tf2/model.ckpt-9000.data-00000-of-00001
ckpt_tf2/model.ckpt-9000.index
ckpt_tf2/model.ckpt-9000.meta
ckpt_tf2/model.ckpt-9500.data-00000-of-00001
ckpt_tf2/model.ckpt-9500.index
ckpt_tf2/model.ckpt-9500.meta
ckpt_tf2/step_1000.pb
ckpt_tf2/step_10000.pb
ckpt_tf2/step_10001.pb
ckpt_tf2/step_1001.pb
ckpt_tf2/step_10500.pb
ckpt_tf2/step_11000.pb
ckpt_tf2/step_11001.pb
ckpt_tf2/step_1500.pb
ckpt_tf2/step_2000.pb
ckpt_tf2/step_2500.pb
ckpt_tf2/step_3000.pb
ckpt_tf2/step_3500.pb
ckpt_tf2/step_4000.pb
ckpt_tf2/step_4500.pb
ckpt_tf2/step_500.pb
ckpt_tf2/step_5000.pb
ckpt_tf2/step_5500.pb
ckpt_tf2/step_6000.pb
ckpt_tf2/step_6500.pb
ckpt_tf2/step_7000.pb
ckpt_tf2/step_7500.pb
ckpt_tf2/step_8000.pb
ckpt_tf2/step_8500.pb
ckpt_tf2/step_9000.pb
ckpt_tf2/step_9500.pb
BinTech/__pycache__/__init__.cpython-36.pyc
BinTech/__pycache__/CNNEval.cpython-36.pyc
BinTech/__pycache__/CNNTrain.cpython-36.pyc
*.pyc
*.pyc
ckpt_tf2/2019_08_17_09_04
ckpt_tf2/2019_08_17_09_43
ckpt_tf2/2019_08_21_00_20
ckpt_tf2/2019_08_21_22_06
ckpt_tf2/2019_08_21_21_59
*.data-00000-of-00001
*.index
*.meta
*.pb
ckpt_tf2/2019_08_21_00_21
ckpt_tf2/2019_08_21_00_26
ckpt_tf2/2019_08_21_00_29
ckpt_tf2/2019_08_21_00_34
ckpt_tf2/2019_08_21_00_39
ckpt_tf2/2019_08_21_22_03
ckpt_tf2/2019_08_21_22_10
ckpt_tf2/2019_08_21_22_11
ckpt_tf2/2019_08_21_22_14
ckpt_tf2/2019_08_21_22_19
ckpt_tf2/2019_08_21_22_21
ckpt_tf2/2019_08_21_22_23
ckpt_tf2/2019_08_21_22_26
ckpt_tf2/2019_08_21_22_34
ckpt_tf2/2019_08_23_00_37
ckpt_tf2/2019_08_23_00_38
ckpt_tf2/2019_08_23_23_47
ckpt_tf2/2019_08_25_18_21
ckpt_tf2/2019_08_25_18_23
ckpt_tf2/2019_08_25_18_25
ckpt_tf2/2019_08_25_18_26
ckpt_tf2/2019_08_25_18_33
ckpt_tf2/2019_08_25_18_36
ckpt_tf2/2019_08_25_18_41
ckpt_tf2/2019_08_25_18_49
ckpt_tf2/2019_08_25_19_08
ckpt_tf2/2019_08_25_19_35
ckpt_tf2/2019_08_25_21_39
ckpt_tf2/2019_08_25_21_44
ckpt_tf2/2019_08_25_23_29
